
<nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav mr-auto">
        {% for item in my_main_menu %}
            <li class="nav-item">
                <a href="/cat/{{ item.id }}" class="nav-link customcss" style="color: black">
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>

{% comment %}
            <ul class="dropdown-menu">
                {% for item2 in item %}
                    <li class="">
                        <a href="{{ item2.href }}">{{ item2.name }}</a>
                    </li>
                {% endfor %}
            </ul>
 {% endcomment %}
{% comment %}
<ul class="nav nav-pills">
    <li class="active"><a href="#">Главная</a></li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            Меню
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Текст подпункта1</a></li>
            <li><a href="#">Текст подпункта2</a></li>
            <li class="divider"></li>
            <li><a href="#">Текст подпункта3</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            Меню2
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Текст подпункта4</a></li>
            <li><a href="#">Текст подпункта5</a></li>
            <li class="divider"></li>
            <li><a href="#">Текст подпункта6</a></li>
        </ul>
    </li>
    <li class="dropdown pull-right">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            Меню3
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Текст подпункта7</a></li>
            <li><a href="#">Текст подпункта8</a></li>
            <li class="divider"></li>
            <li><a href="#">Текст подпункта9</a></li>
        </ul>
    </li>
</ul>
{% endcomment %}
