{% extends 'mainapp/base.html' %}
{% load static %}
<hr>
{% block container %}
<div class="col-sm-12 my-4">
    {% if posts %}
        <form action="" method="post">
            {% csrf_token %}
            {% for post in posts %}
                <h2 style="justify-content: space-between; text-align: center">"{{ post.title }}"</h2>
                <h4>автор: {{ post.user }}</h4>
                <h5>
                    {% for category in post.category.all %}
                        {{ category.name }}
                    {% endfor %}
                </h5>
                <hr>
                <p style="word-wrap: break-word;">{{ post.description | truncatewords:40 }}<a
                        class="btn-sm btn btn-warning" href="{% url 'main:post' post.id %}">Читать далее</a></p>
                <p> {{ post.created_at }} </p>
                <hr>
                <hr>
            {% endfor %}
        </form>
    {% else %}
        <h2 class="text-center text-warning my-4">Not Available Post</h2>
    {% endif %}
</div>
{% endblock %}